@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 20px 0;
    height: 100px;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 35px 0;

        li a{
            color: rgb(125, 125, 125);
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 20px;
            font-size: 13px;
            font-weight: 700;

            &.active,
            &:hover {
                cursor: pointer;
                color: #0382F9;
                border-bottom: 5px solid;
                width: 50%;
                padding: 60px 20px;
                border-bottom-color: #0382F9;
            }
        }

    }

}
